@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, button {
    color: white;
    user-select: none;
    font-family: Roboto;
    background-color: #121212;
}

#prestige {
    padding: 20px;
}

div {
    width: fit-content;
}

#prestigecount {
    text-align: center;
}

button:hover {
    background-color: rgb(71, 71, 71);
}

#clear {
    position: fixed;
    right: 0;
    bottom: 0;
}

tr {
    display: none;
    text-align: center;
}

#prestigerewards {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
}

tr {
    font-size:large;
    background-color: rgb(113, 113, 113);
    border: 5px solid rgb(255, 255, 255);
    border-collapse: collapse;
    height: 50px;
    width: 400px;
}
td, #blabla {
    text-align: center;
    
}
td {
    width: 410px;
}